.banner-1{
    background: url(img/1.png);
}

.banner-2{
    background: url(img/2.png);
}

.banner-3{
    background: url(img/3.png);
}

.banner-4{
    background: url(img/4.png);
    
}

.banner-1, .banner-2, .banner-3, .banner-4{
    height: 495px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-control-prev, .carousel-control-next{
    width: 7% !important;
}

.conteudo-banner{
    padding: 100px
}
.conteudo-banner h1{
    font-size: 48px !important;
    font-weight: 700;
}
.conteudo-banner p{
    font-size: 20px;
}

.conteudo-banner a{
    color: #fff;
    text-decoration: none;
    background-color: rgb(201, 138, 19);
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 700;

    display: block;
    width: 185px;
    text-align: center;
}

.conteudo-banner a:hover{
    color: #fff !important;
}