* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'myriad', Arial, Helvetica, sans-serif!important;
}
@font-face {
  font-family: 'myriad';
  src: url('../fonts/myriad-pro/MyriadPro-Light.otf') format('opentype');
}
@font-face {
  font-family: 'myriad-titulo';
  src: url('../fonts/myriad-pro/MYRIADPRO-BOLD.OTF') format('opentype');
}
@font-face {
  font-family: 'myriad-italic-subtitulo';
  src: url('../fonts/myriad-pro/MYRIADPRO-SEMIBOLDIT.OTF') format('opentype');
}
.navbar-brand h2 {
  color: #333333;
  font-size: calc(1.325rem + .9vw);
}
.navbar-dark .navbar-nav .nav-link {
  color: #333333 !important;
}
header li a {
  color: #000000!important;
}
.dropdown-menu {
  background-color: #081663!important;
}
.dropdown-menu li a {
  color: white!important;
}
.nav-item a {
  color: #c9d3d9!important;
}
.dropdown-item {
  background-color: transparent!important;
}
.menu-right i {
  color: #c9d3d9;
}
html, body {
  height: 100%;
}
.conteudo {
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px 20px;
}
.conteudo-header {
  max-width: 1140px;
  margin: 0 auto;
}
.dropdown-menu li:hover {
  background-color: #e3dddd9d!important;
  transition: 0.2s;
}
.dropdown-menu a:hover {
  color: black!important;
}
.dropdown-menu {
  padding: 0 !important;
}
.menu li a:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
.menu li a {
  transition: 0.2s;
}
.linha {
  background-color: #303875;
  height: 146%;
  width: 1px;
  margin: 0 10px;
  position: relative;
  top: -10px;
}
.navbar-nav .margin-i {
  margin-right: 10px;
}
.linha-2 {
  background-color: red;
  width: 1px;
  height: 10px;
}
/* Oculta o menu mobile em telas maiores */
@media (min-width: 992px) {
  .mobile-nav {
      display: none;
  }
}
/* Para telas menores, oculta o menu desktop */
@media (max-width: 991px) {
  .navbar.navbar-expand-lg:not(.mobile-nav) {
      display: none;
  }
}

/* Estilo para o menu responsivo */
.mobile-nav {
  background-color: #262c58; 
}
.mobile-nav .navbar-collapse {
text-align: center; /* Centraliza os elementos dentro do menu */
}
.mobile-nav .dropdown-item{
text-align: center;
background-color: #262c58!important;
}
.mobile-nav{
background-color: #262c58!important;
}
.mobile-nav .navbar-brand h2,
.mobile-nav .nav-link {
  color: white; 
}

.mobile-nav .nav-link:hover {
  color: #f8fafb; 
}
@media(max-width: 576px){
  .navbar-dark .navbar-nav .nav-link{
      color: #fff !important;
  }
}
.navbar-dark .navbar-nav .nav-link{
 color: rgb(245, 238, 238); 
}
