/* breadcrump */

.breadcrump{
  background: url(../bread/6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 150px;
}
.breadcrump h1 {
  margin-left: 60px;
  color: aliceblue;
  margin-top: 0px;
  font-family: 'myriad-titulo';
}
.hrBorda{
  background-color: #41679a;
  height: 3px;
  width: 60px !important;
  margin: 0 auto !important  ;
  display: block !important;
}
.breadcrump p {
  margin-left: 60px;
  margin-bottom: 5px;
  margin-top: 30px;
  color: aliceblue;
}
.breadcrump p a {
  text-decoration: none;
  color: white;
  font-family: 'myriad';
}

/* fim do breadcrump */

/* -------------------------- */

.filter-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #006699;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
}

.filter-buttons button:hover {
  background-color: #004466;
  transform: scale(1.05);
}

.filter-buttons button.active {
  background-color: #004466;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: block;
  height: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img,
.gallery-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 10px;
  cursor: pointer;
}

.gallery-info {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.gallery-item:hover img,
.gallery-item:hover video {
  transform: scale(1.1);
}

.gallery-item:hover .gallery-info {
  transform: translateY(0);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #006699;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
margin: 0 auto; /* Remove margens superiores e inferiores */
width: 80%;
max-width: 800px;
background: none; /* Remove fundo branco, se houver */
margin-top: 80px;
border: none;
}

.modal-content img{
max-width: 100%; 
max-height: 70vh; 
object-fit: contain; /* Mantém as proporções da imagem */
display: block; /* Remove espaço extra ao redor da imagem */
border: none; 
margin: 0 auto;
}
.modal-content video {
width: 90%; /* Define a largura como 90% do modal */
max-height: 70vh;
min-width: 600px; 
object-fit: contain;
display: block;
margin: 0 auto;
border: none;
}


.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .gallery {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .gallery-item {
      height: 200px;
  }
}
/* começo do banner */

.container-3 {
  background-color: #14c3e3;
  max-width: 1500px !important;
  position: relative;
  margin-top: 100px; 
  display: flex !important;
}
.menina-do-novotec{
  float: inline-end;
  height: 236px;
  position: relative;
  top: -46px;
  width: 400px;
  right: 150px;
}
.textinho-banner{
  color: #0f2c52;
  font-family: 'myriad-titulo';
}
.butaosinho {
  position: relative;
  border-radius: 10px;
  background-color: #fdd80d;
  border: 0px;
  margin-bottom: 10px;
  height: 35px;
  width: 150px;

}
.butaosinho p {
  color: #0f2c52;
  padding-top: 6px;
  font-family: 'myriad-titulo';
}
