/* citando css gerais */

* {
    margin: 0;
    padding: 0;
  }
  body{
    font-family: 'myriad' !important;
  }
  .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .conteudo {
    max-width: 1140px !;
    margin: 0 auto;
    padding: 10px 20px;
  }
  /* -------------------------- */
  
  /* breadcrumb */
  
  .breadcrump{
    background: url(imgs/4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 150px;
  }
  .breadcrump h1 {
    margin-left: 60px;
    color: aliceblue;
    margin-top: 0px;
    font-family: 'myriad-titulo' !important;
  }
  .breadcrump p {
    margin-left: 60px;
    margin-bottom: 5px;
    margin-top: 30px;
    color: aliceblue;
  }
  .breadcrump p a {
    text-decoration: none;
    color: white;
    font-family: 'myriad';
  }
  
  /* fim do breadcrump */
  
  /* -------------------------- */
  
  /* cards-conteudo */
  
  .card:hover {
    transform: translateY(-10px);
  }
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  .card-body {
    padding: 15px;
  }
  .card-title {
    font-size: 1.2em;
    margin: 0 0 10px;
    color: #f6ad39;
  }
  .card-text {
    font-size: 0.9em;
    color: #666;
  }
  .card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    border: none !important;
    align-items: center;
  }
  .button {
    display: block;
    margin-top: 10px;
    color: #2b00a5;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'myriad-italic-subtitulo';
    text-align: center;
  }
  .col-md-3 {
    margin-bottom: 30px;
    
  }
  /* fim dos cards-conteudo */
  
  /* -------------------------- */
    
  /* Estilo para o banner */
  .banner {
    width: 100%;
    max-width: 1200px;
    height: 300px; /* Altura do banner */
    margin: 20px auto;
    max-width: 1400px;
    height: 300px;
    margin: 0;
    background-image: url('https://cdn.atletis.com.br/atletis-website/base/ff2/c73/2d8/organizar-evento-esportivo-escola.jpg'); /* Substitua pela URL da sua imagem */
    background-size: cover; /* Faz a imagem cobrir todo o banner */
    background-position: center; /* Centraliza a imagem */
    border-radius: 10px;
    display: flex; /* Flexbox para centralizar conteúdo */
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff; /* Cor do texto */
    text-align: center;
  }
  .container-3 {
    background-color: #14c3e3;
    max-width: 1500px !important;
    position: relative;
    margin-top: 30px; 
    display: flex !important;
    height: 235px !important;
  }
  .menina-do-novotec{
    float: inline-end;
    height: 236px !important;
    position: relative;
    top: -46px;
    width: 400px;
    right: 150px;
  }
  .textinho-banner{
    color: #0f2c52;
    font-family: 'myriad-titulo';
  }
  .butaosinho {
    position: relative;
    border-radius: 10px;
    background-color: #fdd80d;
    border: 0px;
    margin-bottom: 10px;
    height: 35px;
    width: 150px;
  
  }
  .butaosinho p {
    color: #0f2c52;
    padding-top: 6px;
    font-family: 'myriad-titulo';
  }
  
  .banner-content {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para destacar o texto */
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
  }
  .banner h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .banner p {
    font-size: 1.2rem;
  }
  /* Responsividade */
  @media (max-width: 768px) {
    .banner {
      height: 200px;
    }
  
    .banner h2 {
      font-size: 1.5rem;
    }
  
    .banner p {
      font-size: 1rem;
    }
  }
  .texto{
    text-align: center;
    color: #212529;
  }
  .hrBorda{
    background-color: #485e88;
    height: 3px;
    width: 60px;
    margin: 0 auto;
  }

  .h5i {
    font-size: 22px;
  }